<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="KitchenOrder"
         connectionString="Data Source=localhost; Database = DbKitchenQueue; User ID = KitchenOrder; Password = bptrtor21;"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>